$BACKGROUND_COLOR: #081B23;
$GREEN_COLOR: #01D475 !important;
$WHITE_COLOR:#E5F7FF;
$LIGHT_COLOR:#577987;
$HIGH_VOTE_COLOR:#01D475;
$MEDIUM_VOTE_COLOR:#4902A3;
$LOW_VOTE_COLOR:#D1225B;
$largestMobileScreen:768px;